@import 'ckeditor5-content.css';

:host {
  display: block;
}

.ck-content a {
  color: #007BFF;
  text-decoration: none;
}

.ck-content a:hover {
  color: #0056b3;
  text-decoration: underline;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-out forwards;
}